LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Input": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Input",
                    "type": "string",
                    "value": "{\n    \"statusCode\": 200,\n    \"headers\": {\n        \"Vary\": \"Accept-Encoding\",\n        \"Request-Context\": \"appId=\",\n        \"Set-Cookie\": \"ARRAffinity=ce0e85ac419a12327d8a146aef282b5xxxxxxxxxxxxxxxxxxxxxxxx;Path=/;HttpOnly;Domain=parsedeviceenrollhook.azurewebsites.net,ARRAffinity=9ee692888385645b94fec250137feac2954ed25f37e2904f8124cec7269747e7;Path=/;HttpOnly;Domain=parsedeviceenrollhook.azurewebsites.net\",\n        \"Date\": \"Sat, 11 Apr 2020 06:25:06 GMT\",\n        \"Content-Type\": \"application/json; charset=utf-8\",\n        \"Content-Length\": \"3005\"\n    },\n    \"body\": [\n        {\n            \"Type\": \"IntuneOperationalLogs\",\n            \"OperationName\": \"ESPEnrollment\",\n            \"TimeGenerated\": \"2020-04-11T05:23:40.264Z\",\n            \"SourceSystem\": \"Microsoft Intune\",\n            \"Result\": \"None\",\n            \"TenantId\": \"1eebdc41-be19-43a4-826a-c9e12740db99\",\n            \"Category\": \"OperationalLogs\",\n            \"Properties\": \"{\\r\\n  \\\"EnrollmentStartTime\\\": \\\"2020-04-11T05:23:38.3791076Z\\\",\\r\\n  \\\"EnrollmentEndTime\\\": \\\"2020-04-11T05:23:40.2646604Z\\\",\\r\\n  \\\"TimeDiff\\\": \\\"2\\\",\\r\\n  \\\"Status\\\": \\\"Success\\\",\\r\\n  \\\"UserId\\\": \\\"f594b6b9-5419-45d8-9ecb-ea837a17aa07\\\",\\r\\n  \\\"DeviceId\\\": \\\"7e4be3df-4cfa-46ab-97ea-306437eead0c\\\",\\r\\n  \\\"EventId\\\": \\\"46801\\\",\\r\\n  \\\"Scope\\\": \\\"EnrollmentSuccess\\\",\\r\\n  \\\"UserUPN\\\": \\\"greg@ramseyg.com\\\",\\r\\n  \\\"EnrollmentType\\\": \\\"10\\\",\\r\\n  \\\"EnrollmentTypeMessage\\\": \\\"AutoEnrollment\\\",\\r\\n  \\\"IsAutopilot\\\": \\\"False\\\",\\r\\n  \\\"AadDeviceId\\\": \\\"a7f65347-18ce-4575-9f28-6e75ba9e059f\\\",\\r\\n  \\\"IsDuringEsp\\\": 0,\\r\\n  \\\"Version\\\": \\\"10.0.18363.0\\\",\\r\\n  \\\"AadTenantId\\\": \\\"8f0a670f-cf43-4ab7-a2eb-8b57d6f59bc1\\\",\\r\\n  \\\"ScenarioName\\\": \\\"Microsoft.Management.Services.Diagnostics.SLAEvents.EnrollmentStatusPageSLAEvent\\\",\\r\\n  \\\"ActivityId\\\": \\\"7e4be3df-4cfa-46ab-97ea-306437eead0c\\\",\\r\\n  \\\"RelatedActivityId\\\": \\\"7f32e1da-5f1b-47ca-8334-bd2254bd43ef\\\",\\r\\n  \\\"Result\\\": \\\"0\\\",\\r\\n  \\\"Timestamp\\\": \\\"2020-04-11T05:23:40.2646604Z\\\",\\r\\n  \\\"StartTime\\\": \\\"0001-01-01T00:00:00\\\",\\r\\n  \\\"AccountId\\\": \\\"2713e776-be5c-4951-b487-7be410a01c85\\\",\\r\\n  \\\"ScaleUnit\\\": \\\"AMSUA0402\\\"\\r\\n}\"\n        },\n        {\n            \"Type\": \"IntuneOperationalLogs\",\n            \"OperationName\": \"ESPEnrollment\",\n            \"TimeGenerated\": \"2020-04-11T05:24:00.629Z\",\n            \"SourceSystem\": \"Microsoft Intune\",\n            \"Result\": \"None\",\n            \"TenantId\": \"1eebdc41-be19-43a4-826a-c9e12740db99\",\n            \"Category\": \"OperationalLogs\",\n            \"Properties\": \"{\\r\\n  \\\"EnrollmentStartTime\\\": \\\"2020-04-11T05:23:58.4764823Z\\\",\\r\\n  \\\"EnrollmentEndTime\\\": \\\"2020-04-11T05:24:00.6299419Z\\\",\\r\\n  \\\"TimeDiff\\\": \\\"2\\\",\\r\\n  \\\"Status\\\": \\\"Success\\\",\\r\\n  \\\"UserId\\\": \\\"f594b6b9-5419-45d8-9ecb-ea837a17aa07\\\",\\r\\n  \\\"DeviceId\\\": \\\"7af4180d-d1e0-4347-9cb1-f4d12a9bf04a\\\",\\r\\n  \\\"EventId\\\": \\\"46801\\\",\\r\\n  \\\"Scope\\\": \\\"EnrollmentSuccess\\\",\\r\\n  \\\"UserUPN\\\": \\\"greg@ramseyg.com\\\",\\r\\n  \\\"EnrollmentType\\\": \\\"10\\\",\\r\\n  \\\"EnrollmentTypeMessage\\\": \\\"AutoEnrollment\\\",\\r\\n  \\\"IsAutopilot\\\": \\\"False\\\",\\r\\n  \\\"AadDeviceId\\\": \\\"3fdc7bba-f314-4f64-a411-19a5f94b653c\\\",\\r\\n  \\\"IsDuringEsp\\\": 0,\\r\\n  \\\"Version\\\": \\\"10.0.18362.0\\\",\\r\\n  \\\"AadTenantId\\\": \\\"8f0a670f-cf43-4ab7-a2eb-8b57d6f59bc1\\\",\\r\\n  \\\"ScenarioName\\\": \\\"Microsoft.Management.Services.Diagnostics.SLAEvents.EnrollmentStatusPageSLAEvent\\\",\\r\\n  \\\"ActivityId\\\": \\\"7af4180d-d1e0-4347-9cb1-f4d12a9bf04a\\\",\\r\\n  \\\"RelatedActivityId\\\": \\\"805f103e-da01-4345-b250-cb6ccd26fa2e\\\",\\r\\n  \\\"Result\\\": \\\"0\\\",\\r\\n  \\\"Timestamp\\\": \\\"2020-04-11T05:24:00.6299419Z\\\",\\r\\n  \\\"StartTime\\\": \\\"0001-01-01T00:00:00\\\",\\r\\n  \\\"AccountId\\\": \\\"2713e776-be5c-4951-b487-7be410a01c85\\\",\\r\\n  \\\"ScaleUnit\\\": \\\"AMSUA0402\\\"\\r\\n}\"\n        }\n    ]\n}"
                  }
                ]
              },
              "runAfter": {}
            },
            "Parse_Input": {
              "type": "ParseJson",
              "inputs": {
                "content": "@variables('Input')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "headers": {
                      "type": "object",
                      "properties": {
                        "Vary": {
                          "type": "string"
                        },
                        "Request-Context": {
                          "type": "string"
                        },
                        "Set-Cookie": {
                          "type": "string"
                        },
                        "Date": {
                          "type": "string"
                        },
                        "Content-Type": {
                          "type": "string"
                        },
                        "Content-Length": {
                          "type": "string"
                        }
                      }
                    },
                    "body": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Type": {
                            "type": "string"
                          },
                          "OperationName": {
                            "type": "string"
                          },
                          "TimeGenerated": {
                            "type": "string"
                          },
                          "SourceSystem": {
                            "type": "string"
                          },
                          "Result": {
                            "type": "string"
                          },
                          "TenantId": {
                            "type": "string"
                          },
                          "Category": {
                            "type": "string"
                          },
                          "Properties": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Type",
                          "OperationName",
                          "TimeGenerated",
                          "SourceSystem",
                          "Result",
                          "TenantId",
                          "Category",
                          "Properties"
                        ]
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Input": [
                  "Succeeded"
                ]
              }
            },
            "For_each_entry_in_input": {
              "type": "Foreach",
              "foreach": "@body('Parse_Input')?['body']",
              "actions": {
                "convert_property_to_json": {
                  "type": "Compose",
                  "inputs": "@json(items('For_each_entry_in_input')?['Properties'])",
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Parse_Input": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}